@model OnlineStore_MVC.Models.Product

@*OnlineStore_MVC.Models.Product*@


<form method="post">
    <div class="border p-3">

        <div class="form-group row">
            <h2 class="text-info pl-3">Delete Product</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" disabled class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Price" disabled class="form-control" />
                    </div>

                </div>
                @*<div class="form-group row">
                <div class="col-4">
                <label asp-for="Product.ShortDesc"></label>
                </div>
                <div class="col-8">
                <input asp-for="Product.ShortDesc" class="form-control" />
                <span asp-validation-for="Product.ShortDesc" class="text-danger"></span>
                </div>

                </div>*@
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Description" disabled class="form-control summernote"></textarea>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CategoryId"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Category.CategoryName" disabled class="form-control" />
                    </div>

                </div>
                @*<div class="form-group row">
                <div class="col-4">
                <label asp-for="Product.ApplicationTypeId"></label>
                </div>
                <div class="col-8">
                <select asp-for="Product.ApplicationTypeId" asp-items="@Model.ApplicationTypeSelectList" class="form-control">
                <option disabled selected>--Select Application Type--</option>
                </select>
                <span asp-validation-for="Product.ApplicationTypeId" class="text-danger"></span>
                </div>

                </div>*@
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <button type="submit" class="btn btn-danger w-100">Delete</button>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 ">
                @* Keep this empty *@
                @if (Model.Id != 0)
                {
                    <img src="@WC.ImagePath@Model.ImageURL" width="100%" style="border-radius:5px; border:1px solid #bbb" />
                }
            </div>
        </div>
    </div>

</form>

@section Scripts {

    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250,
                disable
            });
        });
    </script>
}